[Desktop Entry]
Name=NerdChat
Exec=/opt/NerdChat/NerdChat
Terminal=false
Type=Application
Icon=/opt/NerdChat/resources/app/renderer/res/nerdchat.png
StartupWMClass=NerdChat
Comment=NerdChat is a minimalist messaging app aggregator.
Categories=Network;InstantMessaging;
